<%= link_to 'Procvičujeme doma', '/n_pupils', :action => 'training', :title => '', :id => 'training', :remote => true, :class => 'bookmark-marked' %>
<div id="target">
<hr class="fancy-line" />
<div style="margin-left: 30px; margin-top: 30px;">
  <h2>Materiály (pomůcky) pro žáky</h2>
  <div>
  	<p class="text">
  	Milí žáci, tady najdete některé pomůcky, které si můžete třeba doma vytisknout a sami trénovat. Aneb kdo by se nudil doma nebo potřeboval vytisknout něco, co ztratil. 	
  	</p>
  </div>  
  <ul>
  	<li>Matematika</li>
  	<ul style="margin-left: 30px;"> 
  	  <li><%= link_to 'Číselné osy', '/resource/pupils/maths/CiselneOsy.jpg', :class => 'bookmark', :target => '_blank' %></li>
  	  <li><%= link_to 'Číselné obory 1-10', '/resource/pupils/maths/CiselnyObor0-10.jpg', :class => 'bookmark', :target => '_blank' %></li>
  	  <li><%= link_to 'Čísla', '/resource/pupils/maths/cisla.jpg', :class => 'bookmark', :target => '_blank' %></li>	 	  	
  	  <li><%= link_to 'Čísla 0-100', '/resource/pupils/maths/Cisla0-100.jpg', :class => 'bookmark', :target => '_blank' %></li>
  	  <li><%= link_to 'Karty - čísla', '/resource/pupils/maths/KartyCisla.jpg', :class => 'bookmark', :target => '_blank' %></li>
  	  <li><%= link_to 'Mince', '/resource/pupils/maths/Mince.jpg', :class => 'bookmark', :target => '_blank' %></li>
  	  <li><%= link_to 'Mince 2', '/resource/pupils/maths/mince2.jpg', :class => 'bookmark', :target => '_blank' %></li>
  	  <li><%= link_to 'Puntíky', '/resource/pupils/maths/puntiky.jpg', :class => 'bookmark', :target => '_blank' %></li>
  	  <li><%= link_to 'Znaménka', '/resource/pupils/maths/znamenka.jpg', :class => 'bookmark', :target => '_blank' %></li>
  	  <li><%= link_to 'Znaménka 2', '/resource/pupils/maths/znamenka2.jpg', :class => 'bookmark', :target => '_blank' %></li>
  	</ul>  	
  	<li>Vánoční</li>
  	<ul style="margin-left: 30px;">
  	  <li><%= link_to 'Vánoční poezie', '/resource/pupils/PoezieVanocni.odt', :class => 'bookmark' %></li>	
  	</ul>  	  
  </ul>
  <div style="margin-left: 5%; margin-top: 20px; font-size: x-small;">
  	<img src="/assets/doc.jpg" width="54" height="55" alt="" />
  	<img src="/assets/oodoc.jpg" width="48" height="48" alt="" />
  	Kompatibilní s MS Word a Open Office
  </div> 	  
</div>
</div>  