<h1 class="table">Vyučovací hodiny</h1>

<%= form_tag(:controller => "hours", :action => "select_timetable", :method => "post") do %>
  <table>
  	<tr>
  	  <th>Zobraz jen hodiny, náležející rozvrhu: </th>
  	  <td><%= select_tag('timetable', options_from_collection_for_select(Timetable.all, "ID", "NAME", params[:t].to_i), :onchange => 'this.form.submit()', :prompt => 'Všechny') %></td>	
    </tr>
    <tr>
  	  <th>Zobraz jen hodiny, dne: </th>
  	  <td><%= select_tag('day', options_from_collection_for_select(Day.where(:TIMETABLE_ID => params[:t].to_i), "ID", "NAME", params[:d].to_i), :onchange => 'this.form.submit()', :prompt => 'Všechny') %></td>	
    </tr>
  </table>	
<% end %>

<hr />

<table>
  <tr>
  	<th>Pořadí</th>
  	<th>Den</th>
    <th>Hodina</th>
    <th>Předmět</th>
    <th>Poznámka</th>    
  </tr>

<% @hours.each do |hour| %>
  <tr>
  	<td><%=h hour.POSITION %>.</td>
  	<td><%=h Day.find(hour.DAY_ID).NAME %></td>
  	<td><%=h hour.HOUR %></td>
  	<% if hour.SUBJECT_ID == nil and hour.SUBJECT_ID != '' %>
  	  <td><%=h hour.SUBJECT_ID %></td>
  	<% else %>  
  	  <td><%=h Subject.find(hour.SUBJECT_ID).SHORT_NAME %></td>
  	<% end %>  
  	<td><%=h hour.NOTE %></td>
    <td><%= link_to 'Ukázat', hour %></td>
    <td><%= link_to 'Upravit', edit_hour_path(hour) %></td>
    <td><%= link_to 'Smazat', hour, method: :delete, data: { confirm: 'Jste si jistí?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nová vyučovací hodina', new_hour_path %>
<br />
<a class="button" href="admin"><image src="assets/go-back-icon.png" height="26" width="26" title="Zpět do hlavního menu" /></a>
