<p id="notice"><%= notice %></p>

<table>
  <tr>
  	<% Hour.column_names.each do |column_name| %>
  	<th><%=h column_name %></th>
  	<% end %>
  </tr>
  <tr>
  <% Hour.column_names.each do |column_name| %>
    <% if column_name == 'SUBJECT_ID' and @hour[column_name] != nil %>
      <td><%=h Subject.find(@hour[column_name]).SHORT_NAME %></td>
    <% else %>
      <td><%=h @hour[column_name] %></td>
    <% end %>
  <% end %>  	
  </tr>
</table>

<%= link_to 'Upravit', edit_hour_path(@hour) %> |
<%= link_to 'Zpět', hours_path+'?d='+@hour.DAY_ID.to_s+'&t='+Day.find(@hour.DAY_ID).TIMETABLE_ID.to_s %>
