<%= link_to 'Akce', '/n_actions/action', :action => 'action', :title => '', :id => 'action', :remote => true, :class => 'bookmark' %>
<%= link_to 'Kalendář', '/n_actions/calendar', :action => 'calendar', :title => '', :id => 'calendar', :remote => true, :class => 'bookmark-marked' %>
<%= link_to 'Prázdniny', '/n_actions/holiday', :action => 'holiday', :title => '', :remote => true, :class => 'bookmark', :id => 'holiday' %>
<hr class="fancy-line" />
<div id="target">
<script>              
    $(function() {    	      	
    	      
      $(".datepicker").datepicker({ dateFormat: "dd.mm.yy" }, $.datepicker.regional['cs'] = {
                closeText: 'Cerrar',
                prevText: 'Předchozí',
                nextText: 'Další',
                currentText: 'Hoy',
                monthNames: ['Leden','Únor','Březen','Duben','Květen','Červen', 'Červenec','Srpen','Září','Říjen','Listopad','Prosinec'],
                monthNamesShort: ['Le','Ún','Bř','Du','Kv','Čn', 'Čc','Sr','Zá','Ří','Li','Pr'],
                dayNames: ['Neděle','Pondělí','Úterý','Středa','Čtvrtek','Pátek','Sobota'],
                dayNamesShort: ['Ne','Po','Út','St','Čt','Pá','So',],
                dayNamesMin: ['Ne','Po','Út','St','Čt','Pá','So'],
                weekHeader: 'Sm',
                dateFormat: 'dd.mm.yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''} );                                       	         
                
       $.datepicker.setDefaults($.datepicker.regional['cs']);
                                   
    });
    var godate = null;
    
    function goToDate(value) {
      window.location = "go_to_date?godate="+value
    }
  </script>
<div style="margin-top: 30px; margin-left: 30px;">	
<table>	
<tr>		
<td style="border: none;">	
  <form action="go_to_date" method="get">	
  <table class="admin">
  <tr>  	
  	  <td style="padding-bottom: 10px;"><%=link_to '<<', { :controller => 'n_actions', :action => 'week_back', :d => @week.date, :remote => true }, :title => 'Předchozí týden', :class => 'bookmark' %></td>  	    	    	 
  	  <td style="padding-bottom: 10px;"><%= text_field_tag :godate, @week.date.strftime("%d.%m.%Y"), { :onchange => 'goToDate($(this).val());', :class => 'datepicker', :remote => true, :id => 'picker' } %></td>  	    	    	    	  
  	  <td style="padding-bottom: 10px;"><%=link_to '>>', { :controller => 'n_actions', :action => 'week_forward', :d => @week.date, :remote => true }, :title => 'Následující týden', :class => 'bookmark' %></td>  	  	  	 
  	</tr>
  </table>
  </form>	
</td>  	
</tr>  			
<tr>
<td style="border-left: 1px solid #B8B8B8; border-top: 1px solid #B8B8B8; border-bottom: 3px ridge #B8B8B8; border-right: none; background-image: url('assets/paper-back.jpg')">	
  <table class="admin">
  	<thead>
  	  <tr style="text-align: center;">
  	  	<td colspan="2" style="padding-bottom: 20px; padding-top: 5px; font-size: large;"><%=@week.MONTHNAMES[@week.date.mon] %> <%=@week.date.year %></td>
  	  </tr>
  	</thead>
  	<!-- Pondeli -->
	<tr>	  	
	  <% if(@week.monday.is_public_holiday?) %>
	    <th style="background-color: yellow;"><%=@week.monday.date.mday %></th>
	  <% elsif(@week.monday.is_holiday?) %>
	    <th style="background-color: green;"><%=@week.monday.date.mday %></th>
	  <% else %>
	    <th><%=@week.monday.date.mday %></th>  
	  <% end %>		  	 	  		
	  <td style="width: 200px; font-family: 'Comic Sans MS', cursive, sans-serif;">
	  	<hr class="fancy-line" />
	  	<% @week.monday.events.each do |event| %>
	  	  <%=link_to event.TEXT, { :controller => 'n_actions', :action => 'event_info', :event_id => event.id, :day => @week.monday.date.mday.to_s+"."+@week.monday.date.mon.to_s+".", :remote => true }, :title => '', :class => 'bookmark' %><% if @week.monday.events.last != event %>,<% end %>	  	  
	  	<% end %>	  		
	  	<% if @week.monday.events.empty? %>
	  	  &nbsp;
	  	<% end %>  		  		  	  
	  </td>	
	</tr>	
	<tr>
	  <td style="border-bottom: 1px solid black; border-left: 1px solid black; border-right: 1px solid black;">Po</td>
	  <td></td>
	</tr>		
	<!-- *********************** -->
	<!-- Utery -->
	<tr>
	  <% if(@week.tuesday.is_public_holiday?) %>
	    <th style="background-color: yellow;"><%=@week.tuesday.date.mday %></th>
	  <% elsif(@week.tuesday.is_holiday?) %>
	    <th style="background-color: green;"><%=@week.tuesday.date.mday %></th>
	  <% else %>
	    <th><%=@week.tuesday.date.mday %></th>  
	  <% end %>		  
	  <td style="width: 200px; font-family: 'Comic Sans MS', cursive, sans-serif;">
	  	<hr class="fancy-line" />
	  	<% @week.tuesday.events.each do |event| %>
	  	  <%=link_to event.TEXT, { :controller => 'n_actions', :action => 'event_info', :event_id => event.id, :day => @week.tuesday.date.mday.to_s+"."+@week.tuesday.date.mon.to_s+".", :remote => true }, :title => '', :class => 'bookmark' %><% if @week.tuesday.events.last != event %>,<% end %>	  	  
	  	<% end %>	  		
	  	<% if @week.tuesday.events.empty? %>
	  	  &nbsp;
	  	<% end %>	    
	  </td>	
	</tr>	
	<tr>
	  <td style="border-bottom: 1px solid black; border-left: 1px solid black; border-right: 1px solid black;">Út</td>
	  <td></td>
	</tr>		
	<!-- *********************** -->	
	<!-- Streda -->
	<tr>
	  <% if(@week.wednesday.is_public_holiday?) %>
	    <th style="background-color: yellow;"><%=@week.wednesday.date.mday %></th>
	  <% elsif(@week.wednesday.is_holiday?) %>
	    <th style="background-color: green;"><%=@week.wednesday.date.mday %></th>
	  <% else %>
	    <th><%=@week.wednesday.date.mday %></th>  
	  <% end %>		  
	  <td style="width: 200px; font-family: 'Comic Sans MS', cursive, sans-serif;">
	  	<hr class="fancy-line" />
	  	<% @week.wednesday.events.each do |event| %>
	  	  <%=link_to event.TEXT, { :controller => 'n_actions', :action => 'event_info', :event_id => event.id, :day => @week.wednesday.date.mday.to_s+"."+@week.wednesday.date.mon.to_s+".", :remote => true }, :title => '', :class => 'bookmark' %><% if @week.wednesday.events.last != event %>,<% end %>	  	  
	  	<% end %>	  		
	  	<% if @week.wednesday.events.empty? %>
	  	  &nbsp;
	  	<% end %>	    
	  </td>	
	</tr>	
	<tr>
	  <td style="border-bottom: 1px solid black; border-left: 1px solid black; border-right: 1px solid black;">St</td>
	  <td></td>
	</tr>		
	<!-- *********************** -->
	<!-- Ctvrtek -->
	<tr>
	  <% if(@week.thursday.is_public_holiday?) %>
	    <th style="background-color: yellow;"><%=@week.thursday.date.mday %></th>
	  <% elsif(@week.thursday.is_holiday?) %>
	    <th style="background-color: green;"><%=@week.thursday.date.mday %></th>
	  <% else %>
	    <th><%=@week.thursday.date.mday %></th>  
	  <% end %>		  
	  <td style="width: 200px; font-family: 'Comic Sans MS', cursive, sans-serif;">
	  	<hr class="fancy-line" />
	  	<% @week.thursday.events.each do |event| %>
	  	  <%=link_to event.TEXT, { :controller => 'n_actions', :action => 'event_info', :event_id => event.id, :day => @week.thursday.date.mday.to_s+"."+@week.thursday.date.mon.to_s+".", :remote => true }, :title => '', :class => 'bookmark' %><% if @week.thursday.events.last != event %>,<% end %>	  	  
	  	<% end %>	  		
	  	<% if @week.thursday.events.empty? %>
	  	  &nbsp;
	  	<% end %>	    
	  </td>	
	</tr>	
	<tr>
	  <td style="border-bottom: 1px solid black; border-left: 1px solid black; border-right: 1px solid black;">Čt</td>
	  <td></td>
	</tr>		
	<!-- *********************** -->
	<!-- Patek -->
	<tr>
	  <% if(@week.friday.is_public_holiday?) %>
	    <th style="background-color: yellow;"><%=@week.friday.date.mday %></th>
	  <% elsif(@week.friday.is_holiday?) %>
	    <th style="background-color: green;"><%=@week.friday.date.mday %></th>
	  <% else %>
	    <th><%=@week.friday.date.mday %></th>  
	  <% end %>		  
	  <td style="width: 200px; font-family: 'Comic Sans MS', cursive, sans-serif;">
	  	<hr class="fancy-line" />
	  	<% @week.friday.events.each do |event| %>
	  	  <%=link_to event.TEXT, { :controller => 'n_actions', :action => 'event_info', :event_id => event.id, :day => @week.friday.date.mday.to_s+"."+@week.friday.date.mon.to_s+".", :remote => true }, :title => '', :class => 'bookmark' %><% if @week.friday.events.last != event %>,<% end %>	  	  
	  	<% end %>	  		
	  	<% if @week.friday.events.empty? %>
	  	  &nbsp;
	  	<% end %>	    
	  </td>	
	</tr>	
	<tr>
	  <td style="border-bottom: 1px solid black; border-left: 1px solid black; border-right: 1px solid black;">Pá</td>
	  <td></td>
	</tr>		
	<!-- *********************** -->
	<!-- Sobota -->
	<tr>
	  <% if(@week.saturday.is_public_holiday?) %>
	    <th style="background-color: yellow;"><%=@week.saturday.date.mday %></th>
	  <% elsif(@week.saturday.is_holiday?) %>
	    <th style="background-color: green;"><%=@week.saturday.date.mday %></th>
	  <% else %>
	    <th><%=@week.saturday.date.mday %></th>  
	  <% end %>		  
	  <td style="width: 200px; font-family: 'Comic Sans MS', cursive, sans-serif;">
	  	<hr class="fancy-line" />
	  	<% @week.saturday.events.each do |event| %>
	  	  <%=link_to event.TEXT, { :controller => 'n_actions', :action => 'event_info', :event_id => event.id, :day => @week.saturday.date.mday.to_s+"."+@week.saturday.date.mon.to_s+".", :remote => true }, :title => '', :class => 'bookmark' %><% if @week.saturday.events.last != event %>,<% end %>	  	  
	  	<% end %>	  		
	  	<% if @week.saturday.events.empty? %>
	  	  &nbsp;
	  	<% end %>	    
	  </td>	
	</tr>	
	<tr>
	  <td style="border-bottom: 1px solid black; border-left: 1px solid black; border-right: 1px solid black;">So</td>
	  <td></td>
	</tr>		
	<!-- *********************** -->
	<!-- Nedele -->
	<tr>
	  <th style="background-color: #FF9966;"><%=@week.sunday.date.mday %></th>		  
	  <td style="width: 200px; font-family: 'Comic Sans MS', cursive, sans-serif;">
	  	<hr class="fancy-line" />
	  	<% @week.sunday.events.each do |event| %>
	  	  <%=link_to event.TEXT, { :controller => 'n_actions', :action => 'event_info', :event_id => event.id, :day => @week.sunday.date.mday.to_s+"."+@week.sunday.date.mon.to_s+".", :remote => true }, :title => '', :class => 'bookmark' %><% if @week.sunday.events.last != event %>,<% end %>	  	  
	  	<% end %>	  		
	  	<% if @week.sunday.events.empty? %>
	  	  &nbsp;
	  	<% end %>	    
	  </td>	
	</tr>	
	<tr>
	  <td style="border-bottom: 1px solid black; border-left: 1px solid black; border-right: 1px solid black; text-shadow: 0.5px 0.5px 1px #FF9966;">Ne</td>
	  <td></td>
	</tr>		
	<!-- *********************** -->
	<tr>
	  <td></td>		  
	  <td style="width: 200px;">
	  	<hr class="fancy-line" />
	  	&nbsp;	    
	  </td>	
	</tr>
  </table>
</td>
<td style="background-image: url('assets/paper-back.jpg'); border: 1px solid #B8B8B8; border-bottom: 3px ridge #B8B8B8;"> 
  <img src="/assets/krouzkovka2.png" width="30" height="350" title="" alt="" />	 
</td>
<td id="target-desc" style="width: 230px; border-left: none; border-top: 1px solid #B8B8B8; border-bottom: 3px ridge #B8B8B8; border-right: 6px double #505050; background-image: url('assets/paper-back.jpg'); vertical-align: top; padding-top: 30px;">  		
</td>	
</tr>
</table>  	
</div>
</div>	