<%= link_to 'Akce', '/n_actions/action', :action => 'action', :title => '', :id => 'action', :remote => true, :class => 'bookmark-marked' %>
<%= link_to 'Prázdniny', '/n_actions/holiday', :action => 'holiday', :title => '', :remote => true, :class => 'bookmark', :id => 'holiday' %>
<hr class="fancy-line" />
<div id="target">	
<div style="margin-top: 30px; margin-left: 30px;">	
<table class="admin">
<% @events.each do |event| %>
  <tr>  	
    <td onmouseover="$(this).find('#title').show()" onmouseout="$(this).find('#title').hide()">
      <%=event.EVENT_DATE.strftime("%d.%m.%Y") %> <%=event.EVENT_TIME.strftime("%H:%M") %> 
      <%=link_to event.TEXT, '#', :class => 'bookmark' %>
      <span id="title" class="title"><%=event.DESCRIPTION %></span>        
    </td>    
  </tr>  
<% end %>
</table>	
</div>
</div>
