<h1 class="admin">*** Administrační sekce ***</h1>
<table class="admin">
  <tr>
  	<td class="admin"><%= link_to 'Škola', "schools", :title => "Adresa, telefon, email, ředitel,..." %></td>  	
  </tr>	
  <tr>
  	<td class="admin"><%= link_to 'Aktuality a události harmonogramu', "events", :title => "Přidání a úprava aktualit a událostí" %></td>
  </tr>
  <tr>
  	<td class="admin"><%= link_to 'Zaměstnanci', "employees", :title => "Management zaměstnanců" %></td>
  </tr>
  <tr>
  	<td class="admin"><%= link_to 'Rozvrh hodin', "timetables", :title => "Úprava rozvrhu hodin předmětů" %></td>
  </tr>
  <tr>
  	<td class="admin"><%= link_to 'Vyučovací dny', "days", :title => "Úprava vyučovacích dnů" %></td>
  </tr>
  <tr>
  	<td class="admin"><%= link_to 'Vyučovací hodiny', "hours", :title => "Úprava vyučovacích hodin" %></td>
  </tr>
  <tr>
  	<td class="admin"><%= link_to 'Předměty', "subjects", :title => "Úprava předmětů" %></td>
  </tr>
  <tr>
  	<td class="admin"><%= link_to 'Žákovská rada', "councils", :title => "Úprava žákovské rady" %></td>
  </tr>
  <tr>
  	<td class="admin"><%= link_to 'Žáci', "pupils", :title => "Žactvo" %></td>
  </tr>
  <tr>
  	<td class="admin"><%= link_to 'Rodiče', "parents", :title => "Rodiče" %></td>
  </tr>
</table>
