<h2><%= @timetable.NAME %></h2>
<table class="tt">
  <tr>
  	<th>Den</th>
  	<th>1.</th>
  	<th>2.</th>
  	<th>3.</th>
  	<th>4.</th>
  	<th>5.</th>
  </tr>
  <% Day.where(:TIMETABLE_ID => @timetable.ID).order(:POSITION).each do |day| %>
    <tr>
  	  <td><%= day.NAME %></td>
  	  <% Hour.where(:DAY_ID => day.ID).order(:POSITION).each do |hour| %>
  	    <% if hour.SUBJECT_ID != nil %>
  	      <% subject = Subject.find(hour.SUBJECT_ID) %>
  	      <td onmouseover="$(this).find('div').show()" onmouseout="$(this).find('div').hide()" style="cursor: pointer;">
  	      	<%= subject.SHORT_NAME %>
  	      	<div class="subject">
			  Předmět: <%= subject.NAME %>
			  <%
  				teacher = Employee.find(subject.EMPLOYEE_ID)  	      	    
			  %>
			  <br />  	      	  
			  Vyučuje: <%= teacher.DEGREE+' '+teacher.FIRST_NAME+' '+teacher.LAST_NAME %>
  	      	</div>
  	      </td>
  	    <% else %>
  	      <td></td>
  	    <% end %>    
  	  <% end %>  	
    </tr>  
  <% end %>
</table>