<h2><%= @timetable.NAME %></h2>
<table class="tt">
  <tr>
  	<th>Den</th>
  	<th>1.</th>
  	<th>2.</th>
  	<th>3.</th>
  	<th>4.</th>
  	<th>5.</th>
  </tr>
  <%
  	# Optimalization: HASHMAP for subject->teacher
  	teachers = Hash.new 
  	Subject.all().each do |subject|
  	  if(subject.EMPLOYEE_ID != nil)	
  	    t = Employee.find(subject.EMPLOYEE_ID)
  	    name = t.DEGREE+' '+t.FIRST_NAME+' '+t.LAST_NAME
  	    teachers[subject.ID] = name
  	  end	
  	end 
  %>  
  <% Day.where(:TIMETABLE_ID => @timetable.ID).order(:POSITION).each do |day| %>
    <tr>
  	  <td><%= day.NAME %></td>
  	  <% Hour.where(:DAY_ID => day.ID).order(:POSITION).each do |hour| %>
  	    <% if hour.SUBJECT_ID != nil %>
  	      <% subject = Subject.find(hour.SUBJECT_ID) %>  	      
  	      	
  	      	<%
			if(hour.NOTE != nil && hour.NOTE != '')
			%>			  
			<td onmouseover="$(this).find('div').show()" onmouseout="$(this).find('div').hide()" style="cursor: pointer; background-color: #CCFF33;">
  	      	<%= subject.SHORT_NAME %>
			  <div class="subject" style="background-color: #CCFF33;">
			    Předmět: <%= subject.NAME %>			  		  
			    <br />
			    (<%= hour.NOTE %>)			  			    
			    <% if(subject.EMPLOYEE_ID != nil) %>
			      <br />
			      Vyučuje: <%= teachers[subject.ID] %>
			    <% end %>
  	      	  </div>
  	      	</td>  			
			<%
			else
			%>
			<td onmouseover="$(this).find('div').show()" onmouseout="$(this).find('div').hide()" style="cursor: pointer;">
  	      	<%= subject.SHORT_NAME %>	
			  <div class="subject">
			    Předmět: <%= subject.NAME %>			  		  			  			  			    
			    <% if(subject.EMPLOYEE_ID != nil) %>
			      <br />
			      Vyučuje: <%= teachers[subject.ID] %>
			    <% end %>  
  	      	  </div>
  	      	</td>  
  	      	<%  	
			end
			%>
  	      	  	        	      
  	    <% else %>
  	      <td></td>
  	    <% end %>    
  	  <% end %>  	
    </tr>  
  <% end %>
</table>