<%= form_for(@event) do |f| %>

  <table>
    <tr>
  	  <th>Datum zveřejnění/konání</th>
  	  <th>Čas zveřejnění/konání</th>
  	  <th>Text</th>  	  
    </tr>
    <tr>
      <% if @event.EVENT_DATE == nil %>
        <td><%= f.text_field :EVENT_DATE, :class => 'datepicker' %></td>	        
        <td><%= f.text_field :EVENT_TIME %></td>
      <% else %>  
  	    <td><%= f.text_field :EVENT_DATE, :value => @event.EVENT_DATE.strftime("%d.%m.%Y"), :class => 'datepicker' %></td>
  	    <td><%= f.text_field :EVENT_TIME, :value => @event.EVENT_TIME.strftime("%H:%M") %></td>
  	  <% end %>
  	  <td><%= f.text_field :TEXT %></td>  	  
    </tr>
    <tr>
      <th>Bližší popis</th>
  	  <th>Typ události</th>	
    </tr>
    <tr>
      <td><%= f.text_area :DESCRIPTION, :size => "20x6" %></td>
  	  <td><%= f.select(:TYPE, options_for_select({"Aktualita" => "ACT", "Akce harmonogramu" =>"EVT"}, @event.TYPE)) %></td>	
    </tr>
  </table>

  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Uložit" %>
  </div>
<% end %>
