<div style="margin-left: 30px;">
  <h2>Veřejné školní dokumenty</h2>  
  <ul>
    <li><%= link_to 'Školní vzdělávací program', '/resource/SVPA oni budou.pdf', :class => 'bookmark' %></li>
    <li><%= link_to 'Výroční zpráva 2013/2014', '/resource/vyrocni1314.pdf', :class => 'bookmark' %></li>
    <li><%= link_to 'Školní řád', '/resource/SkolniRad.doc', :class => 'bookmark' %></li>
    <li><%= link_to 'Provozní řád učebny IT', '/resource/ProvozniRadInformatiky.doc', :class => 'bookmark' %></li>
    <li><%= link_to 'Provozní řád školní jídelny', '/resource/ProvozniRadSJ.doc', :class => 'bookmark' %></li>
    <li><%= link_to 'Provozní řád tělocvičny', '/resource/ProvozniRadTelocvicny.odt', :class => 'bookmark' %></li>
  </ul>  
  <div style="margin-left: 5%; margin-top: 20px; font-size: x-small;">
  	<img src="/assets/doc.jpg" width="54" height="55" alt="" />
  	<img src="/assets/oodoc.jpg" width="48" height="48" alt="" />
  	Kompatibilní s MS Word a Open Office
  </div>
</div>
