<%= form_for @album, html: { multipart: true } do |f| %>

  <table>
  	<tr>
  	  <th>Název</th>
  	  <td><%= f.text_field :TITLE %></td>
  	</tr>
    <tr>
  	  <th>Popis</th>
  	  <td><%= f.text_field :DESCRIPTION %></td>
  	</tr>  	
    <tr>
      <th>Titulní foto</th>
      <td><%= f.file_field :image %></td>	
    </tr>   
  </table>

  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @album != nil && @album.ID != nil %>
    <%= link_to 'Přidat fotku', '/photos/new/'+@album.ID.to_s %> |
  <% end %>  

  <div class="actions">
    <%= f.submit "Uložit" %>
  </div>
<% end %>
