<hr class="fancy-line" />
<table class="admin" style="margin-top: 30px;">
  <tr>
  	<td>
      <div style="margin-right: 50px;">
        <table class="admin">
          <tr>
          	<th class="h2">Ředitelka</th>
          </tr>	
  	      <tr>
  	        <td><%= @headmaster.DEGREE %> <%= @headmaster.FIRST_NAME %> <%= @headmaster.LAST_NAME %></td>	  	        
  	      </tr>
  	      <tr>
  	      	<td><%= image_tag @headmaster.image_url(:thumb).to_s, :style => 'margin-top: 10px;' %></td>
  	      </tr>
        </table>
      </div>	
    </td>
    <td>
	 <div>
       <table class="admin">
         <tr>
           <th colspan="2" class="h2">Adresa</th>	
         </tr>	       	 
  	     <tr>
           <td style="vertical-align: bottom;"><%= @school.NAME %></td>
           <td rowspan="2"><img src="/assets/envelope.png" width="173" height="101" title="" alt="" /></td>
  	     </tr>	
  	     <tr>
  	       <td style="vertical-align: top;"><%= @school.ADDRESS %></td>
  	     </tr>
  	     <tr>
  	       <td class="h2">Email:</td>	
  	       <td><%= @school.EMAIL %></td>
  	     </tr>
       </table>       
     </div>
     <div style="margin-top: 30px;">       
       <table class="admin">
       	 <tr>
       	   <th colspan="2" class="h2">Telefon</th>
       	 </tr>
  	     <tr>
  	       <td><%= @school.PHONE %></td>
  	       <td><img src="/assets/phone.png" width="125" height="100" title="" alt="" /></td>	
  	     </tr>
       </table>
     </div>    	
    </td>
  </tr>	
</table>