<hr />
<table class="admin" style="margin-top: 30px;">
  <tr>
  	<td>
      <div style="margin-right: 50px;">
        <h2>Ředitelka</h2>
        <table class="admin">
  	      <tr>
  	        <td><%= @headmaster.DEGREE %> <%= @headmaster.FIRST_NAME %> <%= @headmaster.LAST_NAME %></td>	  	        
  	      </tr>
  	      <tr>
  	      	<td><%= image_tag @headmaster.image_url(:thumb).to_s, :style => 'margin-top: 10px;' %></td>
  	      </tr>
        </table>
      </div>	
    </td>
    <td>
	 <div>
       <h2>Adresa</h2>	
       <table class="admin">
  	     <tr>
           <td><%= @school.NAME %></td>			
  	     </tr>	
  	     <tr>
  	       <td><%= @school.ADDRESS %></td>	
  	     </tr>
       </table>
     </div>
     <div style="margin-top: 30px;">
       <h2>Telefon</h2>
       <table class="admin">
  	     <tr>
  	       <td><%= @school.PHONE %></td>	
  	     </tr>
       </table>
     </div>    	
    </td>
  </tr>	
</table>