<%= link_to 'Kontakt', '/n_school/contact', :action => 'contact', :title => '', :id => 'contact', :remote => true, :class => 'bookmark-marked' %>
<%= link_to 'Představení', '/n_school/introduction', :action => 'introduction', :title => '', :id => 'introduction', :remote => true, :class => 'bookmark' %>
<%= link_to 'Výuka', '/n_school/teaching', :action => 'teaching', :title => '', :id => 'teaching', :remote => true, :class => 'bookmark' %>
<%= link_to 'Historie', '/n_school/history', :action => 'history', :title => '', :remote => true, :class => 'bookmark', :id => 'history' %>
<%= link_to 'Mapa', '/n_school/map', :action => 'map', :title => '', :remote => true, :id => 'map', :class => 'bookmark' %>
<div id="target">
<hr class="fancy-line" />
<table class="admin" style="margin-top: 10px; margin-left: 80px;" cellspacing="20">
  <tr>  	
  	<td rowspan="2"><img src="/assets/icons/letter.png" width="40" height="40" title="" alt="" /></td>
  	<th class="h2" style="padding-left: 50px;"><%= @school.NAME %></th>  	  	  
  </tr>	
  <tr>  	
  	<td style="padding-left: 50px; padding-right: 50px; border-bottom: 1px solid #000000; font-size: 14px;"><%= @school.ADDRESS %></td>
  </tr>  
  <tr>
  	<td></td>
  	<td style="padding-left: 50px; border-bottom: 1px solid #000000; font-size: 14px;">IČO: <span style="font-weight: bold;">60611308</span></td>
  </tr>
  <tr>  	
  	<td rowspan="2"><img src="/assets/icons/phone.png" width="40" height="40" title="" alt="" /></td>
  	<td>Pevná linka</td>  	  	  
  </tr>	
  <tr>  	  	
  	<td style="padding-left: 50px; border-bottom: 1px solid #000000; font-size: 14px;"><%= @school.PHONE %></td>  	  	  
  </tr>
  <tr>
  	<td rowspan="2"></td>
  	<td>Ředitelka</td>  	
  </tr>
  <tr>
    <td style="padding-left: 50px; border-bottom: 1px solid #000000; font-size: 14px;"><%= @headmaster.DEGREE %> <%= @headmaster.FIRST_NAME %> <%= @headmaster.LAST_NAME %></td>	  	        
  </tr>
  <tr>
  	<td rowspan="2"><img src="/assets/icons/at.png" width="40" height="40" title="" alt="" /></td>
  	<td>Email</td>  	
  </tr>
  <tr>
    <td style="padding-left: 50px; border-bottom: 1px solid #000000; font-size: 14px;"><%= @school.EMAIL %></td>	  	        
  </tr>
</table>
</div>
