<%= link_to 'Zápis', '/n_school/registration', :action => 'registration', :title => '', :id => 'registration', :remote => true, :class => 'bookmark-marked' %>
<%= link_to 'Kontakt', '/n_school/contact', :action => 'contact', :title => '', :id => 'contact', :remote => true, :class => 'bookmark' %>
<%= link_to 'Představení', '/n_school/introduction', :action => 'introduction', :title => '', :id => 'introduction', :remote => true, :class => 'bookmark' %>
<%= link_to 'Výuka', '/n_school/teaching', :action => 'teaching', :title => '', :id => 'teaching', :remote => true, :class => 'bookmark' %>
<%= link_to 'Historie', '/n_school/history', :action => 'history', :title => '', :remote => true, :class => 'bookmark', :id => 'history' %>
<%= link_to 'Mapa', '/n_school/map', :action => 'map', :title => '', :remote => true, :id => 'map', :class => 'bookmark' %>
<div id="target">
<hr class="fancy-line" />
<div style="margin-top: 30px;">
  <h2>Zápis do 1. ročníku</h2>  	
  <p class="text">  	
  	Vážení rodiče budoucích prvňáčků, zápis do 1. ročníku bude probíhat <b>10.04.2018 od 14:00 do 16:00 hod</b> (dále dle domluvy) v budově ZŠ Mileč. 
    Budete potřebovat občanský průkaz a rodný list dítěte. Dítě se musí zápisu zúčastnit!!!  
  </p>
  <h2>Kritéria pro přijetí žáků do 1. ročníku pro školní rok 2018/2019</h2>
  <p class="text">
  	1. Přijati budou všichni žáci, kteří mají trvalé bydliště ve spádové oblasti školy.<br />
    2. Přijati budou žáci, mající trvalé bydliště ve spádové oblasti školy, kteří v roce 2017 byli u zápisu k plnění školní docházky na ZŠ Mileč a byl jim udělen odklad zahájení povinné školní docházky.<br />
    3. Přijati budou žáci, jejichž starší sourozenec je aktuálně žákem ZŠ Mileč<br />
    4. Děti, které nemají trvalý pobyt v Milči a spádových obcích.<br /> 
  </p>  			
</div>
</div>
