<p id="notice"><%= notice %></p>

<table>
  <tr>
  	<% Subject.column_names.each do |column_name| %>
  	<th><%=h column_name %></th>
  	<% end %>
  </tr>
  <tr>
  	<% Subject.column_names.each do |column_name| %>
  	<td><%=h @subject[column_name] %></td>
  	<% end %>
  </tr>
</table>

<%= link_to 'Upravit', edit_subject_path(@subject) %> |
<%= link_to 'Zpět', subjects_path %>
