<%= form_for(@school) do |f| %>

<table>
  <tr>
  	<th>Název školy</th>
  	<td><%= f.text_field :NAME %></td>
  </tr>
  <tr>
  	<th>Adresa</th>
  	<td><%= f.text_field :ADDRESS %></td>
  </tr>
  <tr> 	
  	<th>Telefon</th>
  	<td><%= f.text_field :PHONE %></td>
  </tr>
  <tr>
  	<th>Email</th>
  	<td><%= f.text_field :EMAIL %></td>
  </tr>
  <tr>
  	<th>Ředitel</th>
  	<td><%= f.text_field :HEADMASTER %></td>
  </tr>
  <tr>
  	<th>Telefon do jídelny</th>
  	<td><%= f.text_field :PHONE_MESS %></td>
  </tr>  
</table>

  <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% @school.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Uložit" %>
  </div>
<% end %>
