<h1 class="table">Seznam rodičů</h1>

<table>
  <tr>
    <th>Jméno</th>
    <th>Příjmení</th>    
  </tr>

<% @parents.each do |parent| %>
  <tr>
  	<td><%=h parent.FIRST_NAME %></td>
  	<td><%=h parent.LAST_NAME %></td>
    <td><%= link_to 'Ukázat', parent %></td>
    <td><%= link_to 'Upravit', edit_parent_path(parent) %></td>
    <td><%= link_to 'Smazat', parent, method: :delete, data: { confirm: 'Jste si jisti?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nový rodič', new_parent_path %>
<br />
<a class="button" href="admin"><image src="assets/go-back-icon.png" height="26" width="26" title="Zpět do hlavního menu" /></a>
