<tr>
  	<% if @employee.image? %>
  	  <td rowspan="7" style="width: 128px; height: 170px; border: 1px solid #E0E0E0; text-align: center;"><%= image_tag @employee.image_url(:thumb).to_s %></td>
  	<% else %>
  	  <td rowspan="7" style="width: 128px; height: 170px; border: 1px solid #E0E0E0; text-align: center;">foto</td>
  	<% end %>
  	<td colspan="2" style="font-weight: bold; font-size: medium;"><%= @employee.DEGREE+" "+@employee.FIRST_NAME+" "+@employee.LAST_NAME %></td>
  </tr>
  <tr>
  	<th>adresa:</th>
  	<td><%= @employee.ADDRESS %></td>  	  	
  </tr>	
  <tr>
  	<th>telefon:</th>
  	<td><%= @employee.PHONE %></td>  	  	
  </tr>
  <tr>
  	<th>email:</th>
  	<td><%= @employee.EMAIL %></td>  	  	
  </tr>  
  <tr>
  	<th>pozice:</th>
  	<td><%= @employee.POSITION %></td>  	  	
  </tr>
  <tr>
  	<th>učitel:</th>
  	<% if @employee.TEACHER_FLAG == 1 %>
  	    <td>Ano</td>
  	  <% else %>
  	    <td>Ne</td>
  	  <% end %>  	  	
  </tr>