<h1 class="table">Seznam žáků</h1>

<table>
  <tr>
    <th>Jméno</th>
    <th>Příjmení</th>
    <th>Rodné číslo</th>
  </tr>

<% @pupils.each do |pupil| %>
  <tr>
  	<td><%=h pupil.FIRST_NAME %></td>
  	<td><%=h pupil.LAST_NAME %></td>
  	<td><%=h pupil.BIRTH_NUMBER %></td>
    <td><%= link_to 'Ukázat', pupil %></td>
    <td><%= link_to 'Upravit', edit_pupil_path(pupil) %></td>
    <td><%= link_to 'Smazat', pupil, method: :delete, data: { confirm: 'Jste si jisti?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nový žák', new_pupil_path %>
<br />
<a class="button" href="admin"><image src="assets/go-back-icon.png" height="26" width="26" title="Zpět do hlavního menu" /></a>
