<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 
<html>
<head>
  <title>ZŠ Mileč</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
  <meta name="author" content="Bc. Tomáš Kohout" />
  <meta name="keywords" content="ZŠ, ZŠ Mileč, škola mileč, základka Mileč, school Mileč" />
  <meta name="description" content="School Official website" />
  <meta name="robots" content="index, folow" />
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="/assets/jquery.ui.datepicker-cs.js"></script>
  <script src="/assets/sliding_effect.js"></script>
  <script>  
    $(function() {      
      $(".datepicker").datepicker({ dateFormat: "dd.mm.yy" }, $.datepicker.regional['cs'] = {
                closeText: 'Cerrar',
                prevText: 'Předchozí',
                nextText: 'Další',
                currentText: 'Hoy',
                monthNames: ['Leden','Únor','Březen','Duben','Květen','Červen', 'Červenec','Srpen','Září','Říjen','Listopad','Prosinec'],
                monthNamesShort: ['Le','Ún','Bř','Du','Kv','Čn', 'Čc','Sr','Zá','Ří','Li','Pr'],
                dayNames: ['Neděle','Pondělí','Úterý','Středa','Čtvrtek','Pátek','Sobota'],
                dayNamesShort: ['Ne','Po','Út','St','Čt','Pá','So',],
                dayNamesMin: ['Ne','Po','Út','St','Čt','Pá','So'],
                weekHeader: 'Sm',
                dateFormat: 'dd.mm.yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''});
                
       $.datepicker.setDefaults($.datepicker.regional['cs']);                            
    });
  </script>
  <link rel="shortcut icon" href="/assets/favicon.ico">
  <!--<link href="/assets/favicon.ico" rel="icon" type="image/ico" />-->
  <%= javascript_include_tag :defaults %>
</head>
<body>

  <div id="obal">
  	
  	<div id="hlavicka">
      <img src="/assets/skola-color.png" height="100" width="134" style="margin-right: 20%; float: left;" />
      <img src="/assets/milec-napis.png" height="60" width="260" /><br />
      <p class="citat">"Má-li se člověk stát člověkem, musí se vzdělat." J.A. Komenský</p>
    </div>
    <hr class="noscreen" />    
    
    <div id="sloupec1">
      <div id="sloupec1-in">
      	
      	<%= yield %>
      	
      </div>
    </div>
    
	<div id="sloupec2">
      <div id="sloupec2-in">
      	<div id="navigation-block">
  		  <ul id="sliding-navigation">    
    	    <li class="sliding-element"><%= link_to 'O Škole', "/n_school", :title => "Adresa, telefon, email, ředitel,..." %></li>
            <li class="sliding-element"><%= link_to 'Zaměstnanci', "/n_employees", :title => "Seznam a informace o zaměstnancích" %></li>
            <li class="sliding-element"><%= link_to 'Harmonogram', "/n_actions", :title => "Důležitá data, Plánované akce" %></li>            
            <li class="sliding-element"><%= link_to 'Rozvrh hodin', "/n_timetable", :title => "Rozvrh hodin" %></li>
            <li class="sliding-element"><%= link_to 'Žáci', "/n_pupils", :title => "Informace pro žáky" %></li>
            <li class="sliding-element"><%= link_to 'Rodiče', "/n_parents", :title => "Informace pro rodiče" %></li>
            <li class="sliding-element"><%= link_to 'Učebny', "/n_rooms", :title => "Informace o prostorách školy" %></li>
            <li class="sliding-element"><%= link_to 'Dokumenty', "/n_documents", :title => "Veřejné dokumenty související s provozem školy" %></li>
          </ul>
        </div>
      </div>
    </div>	

	<div class="cleaner">&nbsp;</div>
  	<hr class="noscreen" />    

    <div id="paticka">
     <p class="paticka">Webmaster: Bc. Tomáš Kohout@2013, Technologie: Ruby on Rails</p>
    </div>
  </div>  
</body>
</html>
