<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 
<html>
<head>
  <title>ZŠ Mileč</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
  <meta name="author" content="Bc. Tomáš Kohout" />
  <meta name="keywords" content="ZŠ, ZŠ Mileč, škola mileč, základka Mileč, school Mileč" />
  <meta name="description" content="School Official website" />
  <meta name="robots" content="index, folow" />
  <link rel="shortcut icon" href="assets/favicon.ico">
  <link href="favicon.ico" rel="icon" type="image/ico" />
</head>
<body>

  <div id="obal">
  	
  	<div id="hlavicka">
      <img src="assets/milec-napis.png" height="60" width="260"/><br />
      <p class="citat">"Má-li se člověk stát člověkem, musí se vzdělat." J.A. Komenský</p>
    </div>
    <hr class="noscreen" />    
    
    <div id="sloupec1">
      <div id="sloupec1-in">
      	
      	<%= yield %>
      	
      </div>
    </div>
    
	<div id="sloupec2">
      <div id="sloupec2-in">
      	<div id="navigation-block">  
  		  <ul id="sliding-navigation">    
    	    <li class="sliding-element"><%= link_to 'O Škole', "/normal/school", :title => "Adresa, telefon, email, ředitel,..." %></li>
            <li class="sliding-element"><%= link_to 'Zaměstnanci', "/normal/employees", :title => "Seznam a informace o zaměstnancích" %></li>
            <li class="sliding-element"><%= link_to 'Harmonogram', "/normal/actions", :title => "Důležitá data, Plánované akce" %></li>            
            <li class="sliding-element"><%= link_to 'Rozvrh hodin', "/normal/timetable", :title => "Rozvrh hodin" %></li>
            <li class="sliding-element"><%= link_to 'Žáci', "/normal/pupils", :title => "Informace pro žáky" %></li>
            <li class="sliding-element"><%= link_to 'Rodiče', "/normal/parents", :title => "Informace pro rodiče" %></li>
            <li class="sliding-element"><%= link_to 'Učebny', "/normal/rooms", :title => "Informace o prostorách školy" %></li>
            <li class="sliding-element"><%= link_to 'Dokumenty', "/normal/documents", :title => "Dokumenty související s provozem školy" %></li>
          </ul>
        </div>
      </div>
    </div>	

	<div class="cleaner">&nbsp;</div>
  	<hr class="noscreen" />    

    <div id="paticka">
     <p class="paticka">Webmaster: Bc. Tomáš Kohout@2013, Technologie: Ruby on Rails</p>
    </div>
  </div>  
</body>
</html>
